.imagecoldprice {
  background-image: url("../../../public/img/backdata.png"); 
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  height: 50%;
  position: relative;
  
}
  