.btn_green {
  color: #1ab394 !important;
  background-color: #fff !important;
  border: 1px solid #1ab394;
  &:hover {
    background-color: #1ab394 !important;
    color: #fff !important;
    border: 1px solid #1ab394;
  }
}
// .imagecontainer {
//   background-image: url("../../../public//img//mobile9.png");
//   background-size: cover;
//   background-position: right;
//   image-rendering: "-webkit-optimize-contrast";
//   image-rendering: pixelated;
//   width: 100%;
//   height: 100%;
// }
.calculate {
  background-image: url("../../../public//img//calculate.png");
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}


