.btn_green {
  color: #1ab394 !important;
  background-color: #fff !important;
  border: 1px solid #1ab394;
  &:hover {
    background-color: #1ab394 !important;
    color: #fff !important;
    border: 1px solid #1ab394;
  }
}
@media only screen and (min-width: 390px) and (max-width: 767px) {
  .imagecoldprice {
    background-image: url("../../../public/img/coldprice.png");
    background-size: cover;
    background-position: right;
    image-rendering: "-webkit-optimize-contrast";
    image-rendering: pixelated;
    position: relative;
    width: 100%;
    height: 70rem;
  }
}
@media only screen and (min-width: 768px) {
  .imagecoldprice {
    background-image: url("../../../public/img/coldprice.png");
    background-size: cover;
    background-position: right;
    image-rendering: "-webkit-optimize-contrast";
    image-rendering: pixelated;
    position: relative;
    width: 100%;
    height: 130vh;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .imagecoldprice {
    background-image: url("../../../public/img/coldprice.png");
    background-size: cover;
    background-position: right;
    image-rendering: "-webkit-optimize-contrast";
    image-rendering: pixelated;
    position: relative;
    width: 100%;
    height: 40rem;
  }
}
