.imagecoldprice {
  background-image: url("../../../public/img/back5.png");
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  height: 100vh;
  position: relative;
}

.backdata {
  background-image: url("../../../public/img/back6.png");
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
