
.imagecoldprice {
  background-image: url("../../../public/img/calculate.png");
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  height: 100vh;
  position: relative;
}
.btn_seve {
  color: #fff !important;
  background-color: #1c84c6 !important;
  
  border: 1px solid #1c84c6;
  &:hover {
    background-color: #fff !important;
    color: #1c84c6 !important;
    border: 1px solid #1c84c6;
  }
}


