
.imagecoldprice {
  background-image: url("../../../public/img//calculate.png");
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  height: 100vh;
  position: relative;
}






