.btn_green {
  color: #1ab394 !important;
  background-color: #fff !important;
  border: 1px solid #1ab394;
  &:hover {
    background-color: #1ab394 !important;
    color: #fff !important;
    border: 1px solid #1ab394;
  }
}
.imagecontainer {
  background-image: url("../../../public/img/backNav.png");
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .imageth {
    background-image: url("../../../public/imgth/womanss.png");
    width: 100%;
    min-height: 100vh;
    // background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .imageth {
    background-image: url("../../../public/imgth/backth.png");
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .imageth {
    background-image: url("../../../public/imgth/womanss.png");
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .imageth {
    background-image: url("../../../public/imgth/womanss.png");
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.imagecoldprice {
  background-image: url("../../../public/img/coldprice.png");
  background-size: cover;
  background-position: right;
  image-rendering: "-webkit-optimize-contrast";
  image-rendering: pixelated;
  width: 100%;
  height: 30vh;
  // min-height: 100vh;
}
