@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Base styles */
.containerda {
  position: relative;
  width: 600px;
  height: 600px;
}

.containerda .icon {
  position: relative;
  left: -90%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*responsive img*/
.containerda .icon .imgBx {
  position: absolute;
  margin-top: 150px;
  width: 200px;
  height: 200px;
  transition: 0.5s;
  transform: rotate(calc(360deg / 7 * var(--i)));
  transform-origin: 350px;
  z-index: 100;
  overflow: hidden;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .containerda .icon .imgBx {
    position: absolute;
    margin-top: 170px;
    width: 180px;
    height: 180px;
    transition: 0.5s;
    transform: rotate(calc(360deg / 7 * var(--i)));
    transform-origin: 350px;
    z-index: 100;
    overflow: hidden;
  }
  .containerda .icon {
    position: relative;
    left: -75%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.containerda .icon .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transform: rotate(calc(-360deg / 7 * var(--i)));
  transition: 0.5s;
  filter: grayscale(1);
}

.containerda .icon .imgBx.active img {
  filter: grayscale(0);
}

.content {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.contentBx {
  position: absolute;
  transform: scale(1);
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBx.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}
/*responsive text*/
.contentBx .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 450px;
}

.contentBx .card .imgBx {
  position: relative;
  width: 150px;
  height: auto;
  border-radius: 10;
  overflow: hidden;
}

.contentBx .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentBx .card .textBx h2 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contentBx .card .textBx h2 span {
  font-size: 0.65em;
  color: black;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.contentBx .card .textBx .sci {
  position: relative;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.contentBx .card .textBx .sci li {
  list-style: none;
}

@media screen and (max-width: 1920px) {
  .page {
    left: 20.5rem !important;
    top: 32.5rem !important;
  }
}

@media screen and (max-width: 1536px) {
  .page {
    left: 15.3rem !important;
    top: 26rem !important;
  }
}

/*้hover button*/



.coolBeans {
  border-radius: 3rem;
  background-image: linear-gradient(to right, #ae8625, #edc967);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  padding: 1rem 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.coolBeans::after {
  background-image: linear-gradient(to right, #ae8625, #926f34);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
 
  transform: scale(1.05);
  will-change: transform;
}
.btnd {
  transition: transform 250ms;
}
.btnd:hover {
  transform: translateY(-3px);
}
